In [1]:
import pandas as pd
df = pd.read_csv("movies_metadata.csv", low_memory=False)

In [2]:
df = df.drop(['belongs_to_collection'], axis=1)

In [3]:
df = df.drop(['overview'], axis=1)

In [4]:
df = df.drop(['homepage','id'], axis=1)

In [5]:
df = df.drop(['video','title'], axis=1)

In [6]:
df = df.drop(['status','spoken_languages'], axis=1)

In [7]:
df = df.drop(['imdb_id'], axis=1)

In [9]:
df.head()

,adult,budget,genres,original_language,original_title,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,tagline,vote_average,vote_count
0,False,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",en,Toy Story,21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,NaN,7.7,5415.0
1,False,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",en,Jumanji,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,Roll the dice and unleash the excitement!,6.9,2413.0
2,False,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",en,Grumpier Old Men,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,Still Yelling. Still Fighting. Still Ready for...,6.5,92.0
3,False,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",en,Waiting to Exhale,3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,Friends are the people who let you be yourself...,6.1,34.0
4,False,0,"[{'id': 35, 'name': 'Comedy'}]",en,Father of the Bride Part II,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,Just When His World Is Back To Normal... He's ...,5.7,173.0

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   adult                 45466 non-null  object
 1   budget                45466 non-null  object
 2   genres                45466 non-null  object
 3   original_language     45455 non-null  object
 4   original_title        45466 non-null  object
 5   popularity            45461 non-null  object
 6   poster_path           45080 non-null  object
 7   production_companies  45463 non-null  object
 8   production_countries  45463 non-null  object
 9   release_date          45379 non-null  object
 10  revenue               45460 non-null  float64
 11  runtime               45203 non-null  float64
 12  tagline               20412 non-null  object
 13  vote_average          45460 non-null  float64
 14  vote_count            45460 non-null  float64
dtypes: float64(4), object(11)
memory usage: 5.2+ MB